## Load The File ->(Round1a_Submission_Template)

In [1]:
import pandas as pd

In [13]:
df=pd.read_csv('submit.csv')

In [14]:
df.head()

   ID   City      Time Periods  PM2.5_Prediction
0   1  Delhi   01-01-2023 0:00               NaN
1   2  Delhi   01-01-2023 4:00               NaN
2   3  Delhi   01-01-2023 8:00               NaN
3   4  Delhi  01-01-2023 12:00               NaN
4   5  Delhi  01-01-2023 16:00               NaN

In [17]:
df1=df.drop(["PM2.5_Prediction","ID"],axis=1)

In [18]:
df1.head()

    City      Time Periods
0  Delhi   01-01-2023 0:00
1  Delhi   01-01-2023 4:00
2  Delhi   01-01-2023 8:00
3  Delhi  01-01-2023 12:00
4  Delhi  01-01-2023 16:00

In [19]:
def time_period_in_int(k):
    new_list=[]
    for i in k:
        i=i.replace("-","")
        i=i.replace(":","")
        i=int(i.replace(" ",""))
        new_list.append(i)
    return new_list

In [21]:
df1["Time Periods"]=time_period_in_int(df1["Time Periods"])

In [22]:
df1.head()

    City  Time Periods
0  Delhi    1012023000
1  Delhi    1012023400
2  Delhi    1012023800
3  Delhi   10120231200
4  Delhi   10120231600

In [23]:
dummies_city = pd.get_dummies(df1.City)

In [24]:
df2=df1.copy()

In [25]:
df2 = pd.concat([df2, dummies_city], axis='columns')

In [26]:
df2.drop([ 'City'], axis='columns',inplace=True)

In [27]:
df2.head()

,Time Periods,Agartala,Agra,Ahmedabad,Bengaluru,Bhilai,Bhopal,Chandigarh,Chennai,Delhi,...,Moradabad,Mumbai,Muzaffarpur,Noida,Patna,Prayagraj,Raipur,Srinagar,Thiruvananthapuram,Varanasi
0,1012023000,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1012023400,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1012023800,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,10120231200,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10120231600,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [28]:
df2.shape

(612, 35)

In [29]:
from sklearn.datasets import make_regression
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [30]:
import pickle
filename = 'multi_output_regression_model2.sav'
loaded_model = pickle.load(open(filename, 'rb'))

In [31]:
x1=df2.copy()

In [32]:
y_pred_all=loaded_model.predict(x1)

In [33]:
df_to_conact=pd.DataFrame(y_pred_all,columns=["NO","NO2","NOx","NH3","SO2","CO","Ozone","Benzene","Toluene","Temp","RH","WS","WD","SR","BP","AT","RF","TOT-RF","VWS","Eth-Benzene","Xylene","MP-Xylene","O Xylene","CH4","Population as of 2021 (Estimated)","Latitude","Longitude","Total Length of Roads as of 2019(Km)","Length of National Highways as of 2022(Km)","Length of National Highways as of 2022(Km)","Railway Route as of 2021(Km)","Forest Cover as of 2021(sq Km)","Number of Factories as of 2020 (Units)","Installed Capacity of Power as of 2022(Megawatt)","Death Rate as of 2020(Per 1000)","CNG ONLY","DIESEL","DIESEL/HYBRID","ELECTRIC(BOV)","PETROL","PETROL/CNG","PETROL/HYBRID"])

In [34]:
df_to_conact.head()

,NO,NO2,NOx,NH3,SO2,CO,Ozone,Benzene,Toluene,Temp,...,Number of Factories as of 2020 (Units),Installed Capacity of Power as of 2022(Megawatt),Death Rate as of 2020(Per 1000),CNG ONLY,DIESEL,DIESEL/HYBRID,ELECTRIC(BOV),PETROL,PETROL/CNG,PETROL/HYBRID
0,59.618883,83.507511,76.9773,37.579752,11.100035,1.675044,31.228538,3.374878,45.186428,16.818658,...,5379.893904,11721.349976,3.79846,14426.957289,36221.439019,74.306931,9127.78167,559727.930107,18620.680512,4606.244821
1,59.618883,83.507511,76.9773,37.579752,11.100035,1.675044,31.228538,3.374878,45.186428,16.818658,...,5379.893904,11721.349976,3.79846,14426.957289,36221.439019,74.306931,9127.78167,559727.930107,18620.680512,4606.244821
2,59.618883,83.507511,76.9773,37.579752,11.100035,1.675044,31.228538,3.374878,45.186428,16.818658,...,5379.893904,11721.349976,3.79846,14426.957289,36221.439019,74.306931,9127.78167,559727.930107,18620.680512,4606.244821
3,59.618883,83.507511,76.9773,37.579752,11.100035,1.675044,31.228538,3.374878,45.186428,16.818658,...,5379.893904,11721.349976,3.79846,14426.957289,36221.439019,74.306931,9127.78167,559727.930107,18620.680512,4606.244821
4,59.618883,83.507511,76.9773,37.579752,11.100035,1.675044,31.228538,3.374878,45.186428,16.818658,...,5379.893904,11721.349976,3.79846,14426.957289,36221.439019,74.306931,9127.78167,559727.930107,18620.680512,4606.244821

In [35]:
x1.reset_index(drop=True, inplace=True)
df_to_conact.reset_index(drop=True, inplace=True)

In [36]:
x4=pd.merge(x1, df_to_conact, left_index=True, right_index=True)

In [37]:
x4.shape

(612, 77)

In [38]:
print(x4.shape)
print(df_to_conact.shape)
print(x1.shape)

(612, 77)
(612, 42)
(612, 35)

In [39]:
from sklearn.tree import DecisionTreeRegressor

In [40]:
import pickle
filename = 'dt_reg1.sav'
loaded_model1 = pickle.load(open(filename, 'rb'))

In [41]:
y_predict=loaded_model1.predict(x4)

In [42]:
y_predict

array([435.45347323, 435.45347323, 435.45347323, 435.45347323,
       435.45347323, 435.45347323, 435.45347323, 435.45347323,
       435.45347323, 435.45347323, 435.45347323, 435.45347323,
       435.45347323, 435.45347323, 435.45347323, 435.45347323,
       435.45347323, 435.45347323,  47.67373185,  47.67373185,
        47.67373185,  47.67373185,  47.67373185,  47.67373185,
        47.67373185,  47.67373185,  47.67373185,  47.67373185,
        47.67373185,  47.67373185,  47.67373185,  47.67373185,
        47.67373185,  47.67373185,  47.67373185,  47.67373185,
        58.04430186,  58.04430186,  58.04430186,  58.04430186,
        58.04430186,  58.04430186,  58.04430186,  58.04430186,
        58.04430186,  58.04430186,  58.04430186,  58.04430186,
        58.04430186,  58.04430186,  58.04430186,  58.04430186,
        58.04430186,  58.04430186, 306.03344742, 306.03344742,
       306.03344742, 306.03344742, 306.03344742, 306.03344742,
       306.03344742, 306.03344742, 306.03344742, 306.03344742,
       306.03344742, 306.03344742, 306.03344742, 306.03344742,
       306.03344742, 306.03344742, 306.03344742, 306.03344742,
        33.42655343,  33.42655343,  33.42655343,  33.42655343,
        33.42655343,  33.42655343,  33.42655343,  33.42655343,
        33.42655343,  33.42655343,  33.42655343,  33.42655343,
        33.42655343,  33.42655343,  33.42655343,  33.42655343,
        33.42655343,  33.42655343, 218.94667165, 218.94667165,
       218.94667165, 218.94667165, 218.94667165, 218.94667165,
       218.94667165, 218.94667165, 218.94667165, 218.94667165,
       218.94667165, 218.94667165, 218.94667165, 218.94667165,
       218.94667165, 218.94667165, 218.94667165, 218.94667165,
        35.91550764,  35.91550764,  35.91550764,  35.91550764,
        35.91550764,  35.91550764,  35.91550764,  35.91550764,
        35.91550764,  35.91550764,  35.91550764,  35.91550764,
        35.91550764,  35.91550764,  35.91550764,  35.91550764,
        35.91550764,  35.91550764, 253.01379323, 253.01379323,
       253.01379323, 253.01379323, 253.01379323, 253.01379323,
       253.01379323, 253.01379323, 253.01379323, 253.01379323,
       253.01379323, 253.01379323, 253.01379323, 253.01379323,
       253.01379323, 253.01379323, 253.01379323, 253.01379323,
        68.5137788 ,  68.5137788 ,  68.5137788 ,  68.5137788 ,
        68.5137788 ,  68.5137788 ,  68.5137788 ,  68.5137788 ,
        68.5137788 ,  68.5137788 ,  68.5137788 ,  68.5137788 ,
        68.5137788 ,  68.5137788 ,  68.5137788 ,  68.5137788 ,
        68.5137788 ,  68.5137788 , 373.67202591, 373.67202591,
       373.67202591, 373.67202591, 373.67202591, 373.67202591,
       373.67202591, 373.67202591, 373.67202591, 373.67202591,
       373.67202591, 373.67202591, 373.67202591, 373.67202591,
       373.67202591, 373.67202591, 373.67202591, 373.67202591,
       176.97798014, 176.97798014, 176.97798014, 176.97798014,
       176.97798014, 176.97798014, 176.97798014, 176.97798014,
       176.97798014, 176.97798014, 176.97798014, 176.97798014,
       176.97798014, 176.97798014, 176.97798014, 176.97798014,
       176.97798014, 176.97798014, 127.79937951, 127.79937951,
       127.79937951, 127.79937951, 127.79937951, 127.79937951,
       127.79937951, 127.79937951, 127.79937951, 127.79937951,
       127.79937951, 127.79937951, 127.79937951, 127.79937951,
       127.79937951, 127.79937951, 127.79937951, 127.79937951,
       118.40824574, 118.40824574, 118.40824574, 118.40824574,
       118.40824574, 118.40824574, 118.40824574, 118.40824574,
       118.40824574, 118.40824574, 118.40824574, 118.40824574,
       118.40824574, 118.40824574, 118.40824574, 118.40824574,
       118.40824574, 118.40824574,  73.24812355,  73.24812355,
        73.24812355,  73.24812355,  73.24812355,  73.24812355,
        73.24812355,  73.24812355,  73.24812355,  73.24812355,
        73.24812355,  73.24812355,  73.24812355,  73.24812355,
        73.24812355,  73.24812355,  73.24812355,  73.24812355,
        87.53177434,  87.53177434,  87.53177434,  87.53177434,
        87.53177434,  87.53177434,  87.53177434,  87.53177434,
        87.53177434,  87.53177434,  87.53177434,  87.53177434,
        87.53177434,  87.53177434,  87.53177434,  87.53177434,
        87.53177434,  87.53177434,  81.71131538,  81.71131538,
        81.71131538,  81.71131538,  81.71131538,  81.71131538,
        81.71131538,  81.71131538,  81.71131538,  81.71131538,
        81.71131538,  81.71131538,  81.71131538,  81.71131538,
        81.71131538,  81.71131538,  81.71131538,  81.71131538,
        90.132     ,  90.132     ,  90.132     ,  90.132     ,
        90.132     ,  90.132     ,  90.132     ,  90.132     ,
        90.132     ,  90.132     ,  90.132     ,  90.132     ,
        90.132     ,  90.132     ,  90.132     ,  90.132     ,
        90.132     ,  90.132     ,  25.51634183,  25.51634183,
        25.51634183,  25.51634183,  25.51634183,  25.51634183,
        25.51634183,  25.51634183,  25.51634183,  25.51634183,
        25.51634183,  25.51634183,  25.51634183,  25.51634183,
        25.51634183,  25.51634183,  25.51634183,  25.51634183,
        33.64625843,  33.64625843,  33.64625843,  33.64625843,
        33.64625843,  33.64625843,  33.64625843,  33.64625843,
        33.64625843,  33.64625843,  33.64625843,  33.64625843,
        33.64625843,  33.64625843,  33.64625843,  33.64625843,
        33.64625843,  33.64625843,  73.95710999,  73.95710999,
        73.95710999,  73.95710999,  73.95710999,  73.95710999,
        73.95710999,  73.95710999,  73.95710999,  73.95710999,
        73.95710999,  73.95710999,  73.95710999,  73.95710999,
        73.95710999,  73.95710999,  73.95710999,  73.95710999,
       111.14627178, 111.14627178, 111.14627178, 111.14627178,
       111.14627178, 111.14627178, 111.14627178, 111.14627178,
       111.14627178, 111.14627178, 111.14627178, 111.14627178,
       111.14627178, 111.14627178, 111.14627178, 111.14627178,
       111.14627178, 111.14627178,  48.03510063,  48.03510063,
        48.03510063,  48.03510063,  48.03510063,  48.03510063,
        48.03510063,  48.03510063,  48.03510063,  48.03510063,
        48.03510063,  48.03510063,  48.03510063,  48.03510063,
        48.03510063,  48.03510063,  48.03510063,  48.03510063,
       164.8492859 , 164.8492859 , 164.8492859 , 164.8492859 ,
       164.8492859 , 164.8492859 , 164.8492859 , 164.8492859 ,
       164.8492859 , 164.8492859 , 164.8492859 , 164.8492859 ,
       164.8492859 , 164.8492859 , 164.8492859 , 164.8492859 ,
       164.8492859 , 164.8492859 ,  91.31      ,  91.31      ,
        91.31      ,  91.31      ,  91.31      ,  91.31      ,
        91.31      ,  91.31      ,  91.31      ,  91.31      ,
        91.31      ,  91.31      ,  91.31      ,  91.31      ,
        91.31      ,  91.31      ,  91.31      ,  91.31      ,
       185.46851383, 185.46851383, 185.46851383, 185.46851383,
       185.46851383, 185.46851383, 185.46851383, 185.46851383,
       185.46851383, 185.46851383, 185.46851383, 185.46851383,
       185.46851383, 185.46851383, 185.46851383, 185.46851383,
       185.46851383, 185.46851383, 133.01859959, 133.01859959,
       133.01859959, 133.01859959, 133.01859959, 133.01859959,
       133.01859959, 133.01859959, 133.01859959, 133.01859959,
       133.01859959, 133.01859959, 133.01859959, 133.01859959,
       133.01859959, 133.01859959, 133.01859959, 133.01859959,
        72.4906831 ,  72.4906831 ,  72.4906831 ,  72.4906831 ,
        72.4906831 ,  72.4906831 ,  72.4906831 ,  72.4906831 ,
        72.4906831 ,  72.4906831 ,  72.4906831 ,  72.4906831 ,
        72.4906831 ,  72.4906831 ,  72.4906831 ,  72.4906831 ,
        72.4906831 ,  72.4906831 , 118.0282493 , 118.0282493 ,
       118.0282493 , 118.0282493 , 118.0282493 , 118.0282493 ,
       118.0282493 , 118.0282493 , 118.0282493 , 118.0282493 ,
       118.0282493 , 118.0282493 , 118.0282493 , 118.0282493 ,
       118.0282493 , 118.0282493 , 118.0282493 , 118.0282493 ,
        31.97416049,  31.97416049,  31.97416049,  31.97416049,
        31.97416049,  31.97416049,  31.97416049,  31.97416049,
        31.97416049,  31.97416049,  31.97416049,  31.97416049,
        31.97416049,  31.97416049,  31.97416049,  31.97416049,
        31.97416049,  31.97416049, 158.03294862, 158.03294862,
       158.03294862, 158.03294862, 158.03294862, 158.03294862,
       158.03294862, 158.03294862, 158.03294862, 158.03294862,
       158.03294862, 158.03294862, 158.03294862, 158.03294862,
       158.03294862, 158.03294862, 158.03294862, 158.03294862,
        27.67644812,  27.67644812,  27.67644812,  27.67644812,
        27.67644812,  27.67644812,  27.67644812,  27.67644812,
        27.67644812,  27.67644812,  27.67644812,  27.67644812,
        27.67644812,  27.67644812,  27.67644812,  27.67644812,
        27.67644812,  27.67644812,  82.2563666 ,  82.2563666 ,
        82.2563666 ,  82.2563666 ,  82.2563666 ,  82.2563666 ,
        82.2563666 ,  82.2563666 ,  82.2563666 ,  82.2563666 ,
        82.2563666 ,  82.2563666 ,  82.2563666 ,  82.2563666 ,
        82.2563666 ,  82.2563666 ,  82.2563666 ,  82.2563666 ,
        49.24387545,  49.24387545,  49.24387545,  49.24387545,
        49.24387545,  49.24387545,  49.24387545,  49.24387545,
        49.24387545,  49.24387545,  49.24387545,  49.24387545,
        49.24387545,  49.24387545,  49.24387545,  49.24387545,
        49.24387545,  49.24387545,  30.34093741,  30.34093741,
        30.34093741,  30.34093741,  30.34093741,  30.34093741,
        30.34093741,  30.34093741,  30.34093741,  30.34093741,
        30.34093741,  30.34093741,  30.34093741,  30.34093741,
        30.34093741,  30.34093741,  30.34093741,  30.34093741])

In [43]:
df3=df.copy()

In [44]:
df_predict=pd.DataFrame(y_predict,columns=["PM2.5_Prediction"])

In [46]:
df_predict.shape

(612, 1)

In [48]:
df3.shape

(612, 4)

In [49]:
df3.drop(["PM2.5_Prediction"],axis=1,inplace=True)

In [50]:
df3.head()

   ID   City      Time Periods
0   1  Delhi   01-01-2023 0:00
1   2  Delhi   01-01-2023 4:00
2   3  Delhi   01-01-2023 8:00
3   4  Delhi  01-01-2023 12:00
4   5  Delhi  01-01-2023 16:00

In [51]:
df2 = pd.concat([df3, df_predict], axis='columns')

In [52]:
df2.head()

   ID   City      Time Periods  PM2.5_Prediction
0   1  Delhi   01-01-2023 0:00        435.453473
1   2  Delhi   01-01-2023 4:00        435.453473
2   3  Delhi   01-01-2023 8:00        435.453473
3   4  Delhi  01-01-2023 12:00        435.453473
4   5  Delhi  01-01-2023 16:00        435.453473

In [53]:
df2.shape

(612, 4)

In [57]:
df2.to_excel("to_submit2.xlsx", index=False)

## Our Result