## Load the data

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("EXL_EQ_2023_Dataset.csv")

In [4]:
df.head()

,PM2.5,NO,NO2,NOx,NH3,SO2,CO,Ozone,Benzene,Toluene,...,Installed Capacity of Power as of 2022(Megawatt),Death Rate as of 2020(Per 1000),CNG ONLY,DIESEL,DIESEL/HYBRID,ELECTRIC(BOV),PETROL,PETROL/CNG,PETROL/HYBRID,Time Periods
0,549.256878,181.010975,91.247522,188.364425,79.707417,10.175812,3.520142,23.411029,NaN,NaN,...,7617,3.6,"13,968","10,528",32,"12,379","3,60,440","21,424","5,313",2020-01-01 00:00
1,435.438303,194.247049,79.661701,203.481853,66.258913,11.615925,3.464807,29.331609,9.827428,NaN,...,7617,3.6,"13,968","10,528",32,"12,379","3,60,440","21,424","5,313",2020-01-01 04:00
2,453.312378,112.499494,121.740909,153.914993,74.356791,10.590183,2.460498,30.172308,9.085975,NaN,...,7617,3.6,"13,968","10,528",32,"12,379","3,60,440","21,424","5,313",2020-01-01 08:00
3,186.603123,56.922094,114.142207,91.504524,NaN,12.217971,1.405930,30.493537,3.884649,104.475114,...,7617,3.6,"13,968","10,528",32,"12,379","3,60,440","21,424","5,313",2020-01-01 12:00
4,262.616309,77.363086,123.790340,117.065760,NaN,13.331616,2.692100,18.045684,5.605006,96.718827,...,7617,3.6,"13,968","10,528",32,"12,379","3,60,440","21,424","5,313",2020-01-01 16:00

In [5]:
df[df["City"]=="Delhi"][["Time Periods","PETROL"]]

          Time Periods    PETROL
0     2020-01-01 00:00  3,60,440
1     2020-01-01 04:00  3,60,440
2     2020-01-01 08:00  3,60,440
3     2020-01-01 12:00  3,60,440
4     2020-01-01 16:00  3,60,440
...                ...       ...
6571  2022-12-31 04:00  4,51,039
6572  2022-12-31 08:00  4,51,039
6573  2022-12-31 12:00  4,51,039
6574  2022-12-31 16:00  4,51,039
6575  2022-12-31 20:00  4,51,039

[6576 rows x 2 columns]

## Coverting TimePeriod to Integer

In [6]:
def time_period_in_int(k):
    new_list=[]
    for i in k:
        i=i.replace("-","")
        i=i.replace(":","")
        i=int(i.replace(" ",""))
        new_list.append(i)
    return new_list

In [7]:
df["Time Periods"]=time_period_in_int(df["Time Periods"])

In [8]:
df["Time Periods"]

0         202001010000
1         202001010400
2         202001010800
3         202001011200
4         202001011600
              ...
223579    202212310400
223580    202212310800
223581    202212311200
223582    202212311600
223583    202212312000
Name: Time Periods, Length: 223584, dtype: int64

## Checking NULL Values

In [9]:
df.isnull().sum()

PM2.5                                                 5540
NO                                                    4849
NO2                                                   5340
NOx                                                   5972
NH3                                                   5636
SO2                                                   3884
CO                                                    3822
Ozone                                                 4430
Benzene                                               6097
Toluene                                              56554
Temp                                                172116
RH                                                   27211
WS                                                    7080
WD                                                    5809
SR                                                   16383
BP                                                   64451
AT                                                   21570
RF                                                    5931
TOT-RF                                                   0
VWS                                                 179561
Eth-Benzene                                          44297
Xylene                                               85753
MP-Xylene                                            49322
O Xylene                                            100446
CH4                                                 217008
City                                                     0
State                                                    0
Population as of 2021 (Estimated)                        0
Latitude                                                 0
Longitude                                                0
Total Length of Roads as of 2019(Km)                     0
Length of National Highways as of 2022(Km)               0
Railway Route as of 2021(Km)                             0
Forest Cover as of 2021(sq Km)                           0
Number of Factories as of 2020 (Units)                   0
Installed Capacity of Power as of 2022(Megawatt)         0
Death Rate as of 2020(Per 1000)                          0
CNG ONLY                                             13152
DIESEL                                                   0
DIESEL/HYBRID                                            0
ELECTRIC(BOV)                                            0
PETROL                                                   0
PETROL/CNG                                               0
PETROL/HYBRID                                            0
Time Periods                                             0
dtype: int64

In [10]:
df1=df.copy()

In [11]:
# df1.dropna(subset=["Death Rate as of 2020(Per 1000)","O Xylene","MP-Xylene","Xylene","Eth-Benzene","VWS","RF","AT","BP","SR","WD","WS","RH","Temp","Toluene","Benzene","Ozone","CO","SO2","NH3","NOx","NO2","NO"],axis=0,inplace=True)

## Replacing Null Values with Their Mean or Mode

In [13]:
df1["NO"]=df1["NO"].fillna(df["NO"].mean())
df1["O Xylene"]=df1["O Xylene"].fillna(df["O Xylene"].mean())
df1["MP-Xylene"]=df1["MP-Xylene"].fillna(df["MP-Xylene"].mean())
df1["Xylene"]=df1["Xylene"].fillna(df["Xylene"].mean())
df1["Eth-Benzene"]=df1["Eth-Benzene"].fillna(df["Eth-Benzene"].mean())
df1["VWS"]=df1["VWS"].fillna(df["VWS"].mean())
df1["RF"]=df1["RF"].fillna(df["RF"].mean())
df1["AT"]=df1["AT"].fillna(df["AT"].mean())
df1["BP"]=df1["BP"].fillna(df["BP"].mean())
df1["AT"]=df1["AT"].fillna(df["AT"].mean())
df1["SR"]=df1["SR"].fillna(df["SR"].mean())
df1["WD"]=df1["WD"].fillna(df["WD"].mean())
df1["RH"]=df1["RH"].fillna(df["RH"].mean())
df1["Temp"]=df1["Temp"].fillna(df["Temp"].mean())
df1["Toluene"]=df1["Toluene"].fillna(df["Toluene"].mean())
df1["Benzene"]=df1["Benzene"].fillna(df["Benzene"].mean())
df1["Ozone"]=df1["Ozone"].fillna(df["Ozone"].mean())
df1["CO"]=df1["CO"].fillna(df["CO"].mean())
df1["SO2"]=df1["SO2"].fillna(df["SO2"].mean())
df1["NH3"]=df1["NH3"].fillna(df["NH3"].mean())
df1["NOx"]=df1["NOx"].fillna(df["NOx"].mean())
df1["NO2"]=df1["NO2"].fillna(df["NO2"].mean())
df1["CH4"]=df1["CH4"].fillna(df["CH4"].mean())
df1["CNG ONLY"]=df1["CNG ONLY"].fillna(df["CNG ONLY"].mode()[0])
df1["WS"]=df1["WS"].fillna(df["WS"].mean())

In [14]:
df1.dropna(subset=["PM2.5"],axis=0,inplace=True)

In [15]:
df1.isnull().sum()

PM2.5                                               0
NO                                                  0
NO2                                                 0
NOx                                                 0
NH3                                                 0
SO2                                                 0
CO                                                  0
Ozone                                               0
Benzene                                             0
Toluene                                             0
Temp                                                0
RH                                                  0
WS                                                  0
WD                                                  0
SR                                                  0
BP                                                  0
AT                                                  0
RF                                                  0
TOT-RF                                              0
VWS                                                 0
Eth-Benzene                                         0
Xylene                                              0
MP-Xylene                                           0
O Xylene                                            0
CH4                                                 0
City                                                0
State                                               0
Population as of 2021 (Estimated)                   0
Latitude                                            0
Longitude                                           0
Total Length of Roads as of 2019(Km)                0
Length of National Highways as of 2022(Km)          0
Railway Route as of 2021(Km)                        0
Forest Cover as of 2021(sq Km)                      0
Number of Factories as of 2020 (Units)              0
Installed Capacity of Power as of 2022(Megawatt)    0
Death Rate as of 2020(Per 1000)                     0
CNG ONLY                                            0
DIESEL                                              0
DIESEL/HYBRID                                       0
ELECTRIC(BOV)                                       0
PETROL                                              0
PETROL/CNG                                          0
PETROL/HYBRID                                       0
Time Periods                                        0
dtype: int64

In [16]:
df1["PETROL"].unique()

array(['3,60,440', '3,64,886', '4,51,039', '9,18,369', '10,05,200',
       '11,79,336', '22,86,272', '23,94,846', '24,48,577', '3,50,799',
       '4,03,742', '4,30,133', '4,69,665', '4,64,575', '5,11,135',
       '9,20,988', '8,51,358', '9,61,960', '13,481', '32,360', '50,990',
       '5,80,974', '6,88,361', '6,61,533', '41,121', '36,866', '39,323',
       '8,87,140', '8,79,347', '9,49,833', '1,64,114', '1,33,332',
       '1,32,869', '9,71,787', '8,78,426', '8,79,988', '10,75,347',
       '9,65,593', '11,18,194', '10,15,911', '9,59,628', '11,75,578',
       '4,20,512', '3,88,563', '4,00,958', '24,440', '28,964', '36,310',
       '13,41,945', '13,38,352', '14,42,917', '14,45,085', '15,09,440',
       '17,41,675'], dtype=object)

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218044 entries, 0 to 223583
Data columns (total 45 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   PM2.5                                             218044 non-null  float64
 1   NO                                                218044 non-null  float64
 2   NO2                                               218044 non-null  float64
 3   NOx                                               218044 non-null  float64
 4   NH3                                               218044 non-null  float64
 5   SO2                                               218044 non-null  float64
 6   CO                                                218044 non-null  float64
 7   Ozone                                             218044 non-null  float64
 8   Benzene                                           218044 non-null  float64
 9   Toluene                                           218044 non-null  float64
 10  Temp                                              218044 non-null  float64
 11  RH                                                218044 non-null  float64
 12  WS                                                218044 non-null  float64
 13  WD                                                218044 non-null  float64
 14  SR                                                218044 non-null  float64
 15  BP                                                218044 non-null  float64
 16  AT                                                218044 non-null  float64
 17  RF                                                218044 non-null  float64
 18  TOT-RF                                            218044 non-null  float64
 19  VWS                                               218044 non-null  float64
 20  Eth-Benzene                                       218044 non-null  float64
 21  Xylene                                            218044 non-null  float64
 22  MP-Xylene                                         218044 non-null  float64
 23  O Xylene                                          218044 non-null  float64
 24  CH4                                               218044 non-null  float64
 25  City                                              218044 non-null  object
 26  State                                             218044 non-null  object
 27  Population as of 2021 (Estimated)                 218044 non-null  int64
 28  Latitude                                          218044 non-null  float64
 29  Longitude                                         218044 non-null  float64
 30  Total Length of Roads as of 2019(Km)              218044 non-null  int64
 31  Length of National Highways as of 2022(Km)        218044 non-null  int64
 32  Railway Route as of 2021(Km)                      218044 non-null  int64
 33  Forest Cover as of 2021(sq Km)                    218044 non-null  int64
 34  Number of Factories as of 2020 (Units)            218044 non-null  int64
 35  Installed Capacity of Power as of 2022(Megawatt)  218044 non-null  int64
 36  Death Rate as of 2020(Per 1000)                   218044 non-null  float64
 37  CNG ONLY                                          218044 non-null  object
 38  DIESEL                                            218044 non-null  object
 39  DIESEL/HYBRID                                     218044 non-null  int64
 40  ELECTRIC(BOV)                                     218044 non-null  object
 41  PETROL                                            218044 non-null  object
 42  PETROL/CNG                                        218044 non-null  object
 43  PETROL/HYBRID                                     218044 non-null  object
 44  Time Periods                                      218044 non-null  int64
dtypes: float64(28), int64(9), object(8)
memory usage: 76.5+ MB

## Converting Objects to Integers

In [18]:
def string_to_int(k):
    new_list = []
    for i in k:
        if type(i)==str:
            i = int(i.replace(",", ""))
        new_list.append(i)
    return new_list

In [19]:
df1["PETROL"]=string_to_int(df1["PETROL"])

In [20]:
df1["DIESEL"]=string_to_int(df1["DIESEL"])
df1["CNG ONLY"]=string_to_int(df1["CNG ONLY"])
df1["ELECTRIC(BOV)"]=string_to_int(df1["ELECTRIC(BOV)"])
df1["PETROL/CNG"]=string_to_int(df1["PETROL/CNG"])
df1["PETROL/HYBRID"]=string_to_int(df1["PETROL/HYBRID"])

In [21]:
df1["City"].unique()

array(['Delhi', 'Ahmedabad', 'Gandhinagar', 'Lucknow', 'Varanasi',
       'Meerut', 'Prayagraj', 'Ghaziabad', 'Agra', 'Noida', 'Kanpur',
       'Moradabad', 'Guwahati', 'Faridabad', 'Gurugram', 'Jaipur', 'Kota',
       'Imphal', 'Thiruvananthapuram', 'Agartala', 'Gaya', 'Muzaffarpur',
       'Patna', 'Srinagar', 'Howrah', 'Kolkata', 'Bhopal', 'Gwalior',
       'Bengaluru', 'Raipur', 'Bhilai', 'Chandigarh', 'Chennai', 'Mumbai'],
      dtype=object)

In [23]:
dummies_city = pd.get_dummies(df1.City)

In [24]:
df2=df1.copy()

In [25]:
df2 = pd.concat([df2, dummies_city], axis='columns')

In [26]:
# df2 = pd.concat([df2, dummies_state], axis='columns')

In [27]:
df2.drop(['State', 'City'], axis='columns',inplace=True)

In [28]:
y1=df2[["NO","NO2","NOx","NH3","SO2","CO","Ozone","Benzene","Toluene","Temp","RH","WS","WD","SR","BP","AT","RF","TOT-RF","VWS","Eth-Benzene","Xylene","MP-Xylene","O Xylene","CH4","Population as of 2021 (Estimated)","Latitude","Longitude","Total Length of Roads as of 2019(Km)","Length of National Highways as of 2022(Km)","Length of National Highways as of 2022(Km)","Railway Route as of 2021(Km)","Forest Cover as of 2021(sq Km)","Number of Factories as of 2020 (Units)","Installed Capacity of Power as of 2022(Megawatt)","Death Rate as of 2020(Per 1000)","CNG ONLY","DIESEL","DIESEL/HYBRID","ELECTRIC(BOV)","PETROL","PETROL/CNG","PETROL/HYBRID"]]

In [29]:
y1.head()

,NO,NO2,NOx,NH3,SO2,CO,Ozone,Benzene,Toluene,Temp,...,Number of Factories as of 2020 (Units),Installed Capacity of Power as of 2022(Megawatt),Death Rate as of 2020(Per 1000),CNG ONLY,DIESEL,DIESEL/HYBRID,ELECTRIC(BOV),PETROL,PETROL/CNG,PETROL/HYBRID
0,181.010975,91.247522,188.364425,79.707417,10.175812,3.520142,23.411029,3.730146,19.040600,7.75,...,3259,7617,3.6,13968,10528,32,12379,360440,21424,5313
1,194.247049,79.661701,203.481853,66.258913,11.615925,3.464807,29.331609,9.827428,19.040600,7.49,...,3259,7617,3.6,13968,10528,32,12379,360440,21424,5313
2,112.499494,121.740909,153.914993,74.356791,10.590183,2.460498,30.172308,9.085975,19.040600,9.45,...,3259,7617,3.6,13968,10528,32,12379,360440,21424,5313
3,56.922094,114.142207,91.504524,26.234892,12.217971,1.405930,30.493537,3.884649,104.475114,11.32,...,3259,7617,3.6,13968,10528,32,12379,360440,21424,5313
4,77.363086,123.790340,117.065760,26.234892,13.331616,2.692100,18.045684,5.605006,96.718827,10.22,...,3259,7617,3.6,13968,10528,32,12379,360440,21424,5313

In [30]:
x1=df2.drop(["PM2.5","NO","NO2","NOx","NH3","SO2","CO","Ozone","Benzene","Toluene","Temp","RH","WS","WD","SR","BP","AT","RF","TOT-RF","VWS","Eth-Benzene","Xylene","MP-Xylene","O Xylene","CH4","Population as of 2021 (Estimated)","Latitude","Longitude","Total Length of Roads as of 2019(Km)","Length of National Highways as of 2022(Km)","Length of National Highways as of 2022(Km)","Railway Route as of 2021(Km)","Forest Cover as of 2021(sq Km)","Number of Factories as of 2020 (Units)","Installed Capacity of Power as of 2022(Megawatt)","Death Rate as of 2020(Per 1000)","CNG ONLY","DIESEL","DIESEL/HYBRID","ELECTRIC(BOV)","PETROL","PETROL/CNG","PETROL/HYBRID"],axis="columns")

In [31]:
x1.head()

,Time Periods,Agartala,Agra,Ahmedabad,Bengaluru,Bhilai,Bhopal,Chandigarh,Chennai,Delhi,...,Moradabad,Mumbai,Muzaffarpur,Noida,Patna,Prayagraj,Raipur,Srinagar,Thiruvananthapuram,Varanasi
0,202001010000,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,202001010400,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,202001010800,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,202001011200,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,202001011600,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

## Creating Model for Predicting (NO,NO2,.....)

In [32]:
from sklearn.datasets import make_regression
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [33]:
model = MultiOutputRegressor(GradientBoostingRegressor(random_state=20))

In [34]:
model.fit(x1, y1)

MultiOutputRegressor(estimator=GradientBoostingRegressor(random_state=20))

In [35]:
# import pickle

# # Save the model to disk
# filename = 'multi_output_regression_model2.sav'
# pickle.dump(model, open(filename, 'wb'))

In [37]:
import pickle
filename = 'multi_output_regression_model2.sav'
loaded_model = pickle.load(open(filename, 'rb'))

In [38]:
y_pred_all=loaded_model.predict(x1)

In [39]:
loaded_model.score(x1,y1)

0.7547483001420963

In [40]:
y_pred_all

array([[5.96188830e+01, 8.35075111e+01, 7.69772998e+01, ...,
        5.59727930e+05, 1.86206805e+04, 4.60624482e+03],
       [5.96188830e+01, 8.35075111e+01, 7.69772998e+01, ...,
        5.59727930e+05, 1.86206805e+04, 4.60624482e+03],
       [5.96188830e+01, 8.35075111e+01, 7.69772998e+01, ...,
        5.59727930e+05, 1.86206805e+04, 4.60624482e+03],
       ...,
       [3.34046962e+01, 4.24819403e+01, 7.09679122e+01, ...,
        1.46932616e+06, 9.85192200e+04, 1.98232432e+04],
       [3.34046962e+01, 4.24819403e+01, 7.09679122e+01, ...,
        1.46932616e+06, 9.85192200e+04, 1.98232432e+04],
       [3.34046962e+01, 4.24819403e+01, 7.09679122e+01, ...,
        1.46932616e+06, 9.85192200e+04, 1.98232432e+04]])

In [41]:
df_to_conact=pd.DataFrame(y_pred_all,columns=["NO","NO2","NOx","NH3","SO2","CO","Ozone","Benzene","Toluene","Temp","RH","WS","WD","SR","BP","AT","RF","TOT-RF","VWS","Eth-Benzene","Xylene","MP-Xylene","O Xylene","CH4","Population as of 2021 (Estimated)","Latitude","Longitude","Total Length of Roads as of 2019(Km)","Length of National Highways as of 2022(Km)","Length of National Highways as of 2022(Km)","Railway Route as of 2021(Km)","Forest Cover as of 2021(sq Km)","Number of Factories as of 2020 (Units)","Installed Capacity of Power as of 2022(Megawatt)","Death Rate as of 2020(Per 1000)","CNG ONLY","DIESEL","DIESEL/HYBRID","ELECTRIC(BOV)","PETROL","PETROL/CNG","PETROL/HYBRID"])

In [42]:
df_to_conact.head()

,NO,NO2,NOx,NH3,SO2,CO,Ozone,Benzene,Toluene,Temp,...,Number of Factories as of 2020 (Units),Installed Capacity of Power as of 2022(Megawatt),Death Rate as of 2020(Per 1000),CNG ONLY,DIESEL,DIESEL/HYBRID,ELECTRIC(BOV),PETROL,PETROL/CNG,PETROL/HYBRID
0,59.618883,83.507511,76.9773,37.579752,11.100035,1.675044,31.228538,3.374878,45.186428,16.818658,...,5379.893904,11721.349976,3.79846,14426.957289,36221.439019,74.306931,9127.78167,559727.930107,18620.680512,4606.244821
1,59.618883,83.507511,76.9773,37.579752,11.100035,1.675044,31.228538,3.374878,45.186428,16.818658,...,5379.893904,11721.349976,3.79846,14426.957289,36221.439019,74.306931,9127.78167,559727.930107,18620.680512,4606.244821
2,59.618883,83.507511,76.9773,37.579752,11.100035,1.675044,31.228538,3.374878,45.186428,16.818658,...,5379.893904,11721.349976,3.79846,14426.957289,36221.439019,74.306931,9127.78167,559727.930107,18620.680512,4606.244821
3,59.618883,83.507511,76.9773,37.579752,11.100035,1.675044,31.228538,3.374878,45.186428,16.818658,...,5379.893904,11721.349976,3.79846,14426.957289,36221.439019,74.306931,9127.78167,559727.930107,18620.680512,4606.244821
4,59.618883,83.507511,76.9773,37.579752,11.100035,1.675044,31.228538,3.374878,45.186428,16.818658,...,5379.893904,11721.349976,3.79846,14426.957289,36221.439019,74.306931,9127.78167,559727.930107,18620.680512,4606.244821

In [43]:
x1.head()

,Time Periods,Agartala,Agra,Ahmedabad,Bengaluru,Bhilai,Bhopal,Chandigarh,Chennai,Delhi,...,Moradabad,Mumbai,Muzaffarpur,Noida,Patna,Prayagraj,Raipur,Srinagar,Thiruvananthapuram,Varanasi
0,202001010000,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,202001010400,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,202001010800,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,202001011200,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,202001011600,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [44]:
x1.reset_index(drop=True, inplace=True)
df_to_conact.reset_index(drop=True, inplace=True)

In [45]:
x4=pd.merge(x1, df_to_conact, left_index=True, right_index=True)

In [46]:
x4.shape

(218044, 77)

In [47]:
print(x4.shape)
print(df_to_conact.shape)
print(x1.shape)

(218044, 77)
(218044, 42)
(218044, 35)

In [48]:
x=df2.drop(["PM2.5"],axis="columns")

In [49]:
y=df2[["PM2.5"]]

In [50]:
x.size

16571344

In [51]:
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218044 entries, 0 to 223583
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PM2.5   218044 non-null  float64
dtypes: float64(1)
memory usage: 3.3 MB

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
x_train,x_test,y_train,y_test=train_test_split(x4,y,test_size=0.2)

## Trying Various Model for Predicting PM2.5

In [54]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [55]:
lr.score(x_test,y_test)

0.45943432472558987

In [56]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
# from xgboost import XGBRegressor
# from lightgbm import LGBMRegressor
# from catboost import CatBoostRegressor
from sklearn.neural_network import MLPRegressor

In [73]:
# test_pred_2=poly_reg.predict(x_test)
# r2 = metrics.r2_score(y_true = y_test, y_pred = test_pred_2)
# lr.score(x_test,y_test)

AttributeError: 'PolynomialFeatures' object has no attribute 'predict'

In [ ]:
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

In [ ]:
ridge_reg.score(x_test,y_test)

In [57]:
lasso_reg = Lasso(alpha=0.1)
lasso_reg.fit(x_train, y_train)

C:\Users\rajat\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.591e+08, tolerance: 5.645e+04
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=0.1)

In [58]:
lasso_reg.score(x_test,y_test)

0.44589508900950003

In [77]:
elastic_net_reg = ElasticNet(alpha=0.1, l1_ratio=0.5)
elastic_net_reg.fit(x_train, y_train)

C:\Users\rajat\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.611e+08, tolerance: 5.631e+04
  model = cd_fast.enet_coordinate_descent(

ElasticNet(alpha=0.1)

In [78]:
elastic_net_reg.score(x_test,y_test)

0.43091037829825407

In [79]:
svr_reg = SVR(kernel='rbf', C=100, epsilon=0.1)
svr_reg.fit(x_train, y_train)

C:\Users\rajat\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=100)

In [80]:
svr_reg.score(x_test,y_test)

-0.09724411966677216

In [81]:
import pickle

# Save the model to disk
filename = 'svr1.sav'
pickle.dump(svr_reg, open(filename, 'wb'))

In [59]:
dt_reg = DecisionTreeRegressor(max_depth=30)
dt_reg.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=30)

In [60]:
dt_reg.score(x_test,y_test)

0.7503967348656048

In [61]:
import pickle

# Save the model to disk
filename = 'dt_reg1.sav'
pickle.dump(dt_reg, open(filename, 'wb'))

In [62]:
rf_reg = RandomForestRegressor(n_estimators=100, max_depth=20)
rf_reg.fit(x_train, y_train)

C:\Users\rajat\AppData\Local\Temp\ipykernel_15496\2488433694.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_reg.fit(x_train, y_train)

RandomForestRegressor(max_depth=20)

In [63]:
rf_reg.score(x_test,y_test)

0.7548526620196743

In [64]:
import pickle

# Save the model to disk
filename = 'rf_reg1.sav'
pickle.dump(rf_reg, open(filename, 'wb'))

In [94]:
gb_reg = GradientBoostingRegressor(n_estimators=100, max_depth=5, learning_rate=0.1)
gb_reg.fit(x_train, y_train)

C:\Users\rajat\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingRegressor(max_depth=5)

In [95]:
gb_reg.score(x_test,y_test)

0.6708158972195186

In [98]:
import pickle

# Save the model to disk
filename = 'gb_reg1.sav'
pickle.dump(gb_reg, open(filename, 'wb'))

# After Trying Various Models Decision Tree Gives Best Result as per Given Dataset -> 76% Approx